= simple_form_for @program do |f|
  - if @program.errors.any?
    #error_explanation.alert.alert-danger
      .d-flex.align-items-center
        .bg-danger.me-3.icon-item
          %span.mso{style: 'color: white;font-size: 36px'}
            error
        %p.mb-0.flex-1= "#{pluralize(@program.errors.count, "error")} prohibited this program from being saved:"
      %ul
        - @program.errors.full_messages.each do |message|
          %li= message
  .form-inputs
    .row
      .col-12
        = f.input :name
      .col-12
        = f.input :department
      .col-12
        = f.input :level
  .row
    .col-md
    .col-auto.action
      = f.submit 'Save', class: 'btn btn-falcon-primary'
      %a.button.btn.btn-falcon-default{href: programs_path} Back
