%p#notice= notice

%p
  %b Login:
  = @user.login
%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Role:
  = @user.role
%p
  %b Last login:
  = @user.last_login

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
