= simple_form_for @proposal do |f|
  - if @proposal.errors.any?
    #error_explanation.alert.alert-danger
      .d-flex.align-items-center
        .bg-danger.me-3.icon-item
          %span.mso{style: 'color: white;font-size: 36px'}
            error
        %p.mb-0.flex-1= "#{pluralize(@proposal.errors.count, "error")} prohibited this proposal from being saved:"
      %ul
        - @proposal.errors.full_messages.each do |message|
          %li= message
  .form-inputs
    .row
      .col-12
        - if @current_user.role_student?
          = f.association :student, label: 'นิสิต', disabled: true
        - else
          = f.association :student, label: 'นิสิต'
      .col-12
        = f.input :name_th, label: 'ชื่อวิทยานิพนธ์ (ภาษาไทย)'
      .col-12
        = f.input :name_en, label: 'ชื่อวิทยานิพนธ์ (ภาษาอังกฤษ)'
      .col-12
        = f.association :advisor, label: 'อาจารย์ที่ปรึกษา'
      .col-12
        = f.input :file, label: 'แนบไฟล์โครงร่างวิทยานิพนธ์ (.pdf)', as: :file
  .row
    .col-md
    .col-auto.action
      = f.submit 'Save', class: 'btn btn-falcon-primary'
      %a.button.btn.btn-falcon-default{href: proposals_path} Back
