.card
  .card-header.bg-body-tertiary
    %h5 Proposals
  .card-body
    %table#main_table.table.table-hover{style: 'width: 100%'}
      %thead
        %tr.bg-200
          %th student_id
          %th name_th
          %th name_en
          %th advisor
          %th

      %tbody
        - @proposals.each do |proposal|
          %tr
            %td= proposal.student_id
            %td= proposal.name_th
            %td= proposal.name_en
            %td= proposal.advisor
            %td= link_to 'Edit', edit_proposal_path(proposal)

    %br

    = link_to 'New proposal', new_proposal_path, class: 'btn btn-falcon-success'
:javascript
  window.addEventListener('DOMContentLoaded',function () {
    $("#main_table").DataTable({
      paging: false,
      layout: {
        topStart: 'info',
        topEnd: 'search',
        bottomStart: null,
        bottomEnd: null,
      },
    });
  } );
