.card
  .card-header.bg-body-tertiary
    - case @current_user.role
    - when 'faculty'
      %h5 วิทยานิพนธ์ในที่ปรึกษา
    - when 'student'
      %h5 วิทยานิพนธ์ของนิสิต
    - else
      %h5 วิทยานิพนธ์ทั้งหมด
  .card-body
    %table#main_table.table.table-hover{style: 'width: 100%'}
      %thead
        %tr.bg-200
          %th นิสิต
          %th ชื่อวิทยานิพนธ์ (ไทย)
          %th ชื่อวิทยานิพนธ์ (อังกฤษ)
          %th อาจารย์ที่ปรึกษา
          %th

      %tbody
        - @proposals.each do |proposal|
          %tr
            %td= proposal.student.name
            %td= proposal.name_th
            %td= proposal.name_en
            %td= proposal.advisor.name
            %td= link_to 'Edit', edit_proposal_path(proposal)

    %br

    - if @current_user.role_staff?
      = link_to 'New proposal', new_proposal_path, class: 'btn btn-falcon-success'
:javascript
  window.addEventListener('DOMContentLoaded',function () {
    $("#main_table").DataTable({
      paging: false,
      layout: {
        topStart: 'info',
        topEnd: 'search',
        bottomStart: null,
        bottomEnd: null,
      },
    });
  } );
