= simple_form_for @<%=singular_table_name%> do |f|
  - if @<%=singular_table_name%>.errors.any?
    #error_explanation.alert.alert-danger
      .d-flex.align-items-center
        .bg-danger.me-3.icon-item
          %span.mso{style: 'color: white;font-size: 36px'}
            error
        %p.mb-0.flex-1= "#{pluralize(@<%=singular_table_name%>.errors.count, "error")} prohibited this <%=singular_table_name%> from being saved:"
      %ul
        - @<%=singular_table_name%>.errors.full_messages.each do |message|
          %li= message
  .form-inputs
    .row
    <%- attributes.each do |attribute| -%>
      .col-12
        = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
    <%- end -%>
  .row
    .col-md
    .col-auto.action
      = f.submit 'Save', class: 'btn btn-falcon-primary'
      %a.button.btn.btn-falcon-default{href: <%= index_helper(type: :path)%>} Back
