.card
  .card-header.bg-body-tertiary
    %h5 การนัดหมายการสอบ
  .card-body
    = render 'shared/flash'
    %table#main_table.table.table-hover{style: 'width: 100%'}
      %thead
        %tr.bg-200
          %th ชื่อวิทยานิพนธ์
          %th วันสอบ
          %th อนุมัติการสอบ
          %th
          %th
          %th

      %tbody
        - @exams.each do |exam|
          %tr
            %td= exam.proposal.name_th
            %td= l(exam.exam_date, format: :short)
            %td= badge_display(exam.advisor_approved? ? '1' : '0')
            %td= link_to 'แก้ไข', edit_exam_path(exam)
            %td= link_to 'เอกสารนัดสอบ', download_exam_exam_path(exam)
            - if exam.advisor_approved?
              %td= link_to 'จดหมายเชิญ', download_invitation_exam_path(exam)
            - else
              %td
                จดหมายเชิญ
                (รอที่ปรึกษาอนุมัติ)

    %br
:javascript
  window.addEventListener('DOMContentLoaded',function () {
    $("#main_table").DataTable({
      paging: false,
      layout: {
        topStart: 'info',
        topEnd: 'search',
        bottomStart: null,
        bottomEnd: null,
      },
    });
  } );
